@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.funçao{
    background-color: #E74C3C;
    color: #ECF0F1;
}

.TS_botao{
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 0;
    background-color: #BDC3C7;
    color: #ECF0F1;
    border: solid 1px #ECF0F1;
    border-radius: 5px;
    font-size: 10px;
    cursor: pointer;
}

.TS_botaoAmarelo{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #FFD500;
    border: solid 1px #ECF0F1;
    border-radius: 5px;
    cursor: pointer;
    }

.TS_botaoAzul{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #01B6ED;
    border: solid 1px #ECF0F1;
    border-radius: 5px;
    cursor: pointer;
}

.TS_botaoPreto{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #000;
    border: solid 1px #ECF0F1;
    border-radius: 5px;
    cursor: pointer;
}

.TS_botaoVerde{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #94C11F;
    border: solid 1px #ECF0F1;
    border-radius: 5px;
    cursor: pointer;
}

.TS_botaoVermelho{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #FF0000;
    border: solid 1px #ECF0F1;
    border-radius: 5px;
    cursor: pointer;
}

#TS_canvas {
    margin: 0;
    padding: 0;
    border: 3px solid darkgray;
    width: 100%;
    height: 100%;
    /*cursor: url(https://www.svgrepo.com/show/189079/pencil.svg), auto;*/
}

input{
    all: unset;
    border: none;
/*Para alterar a cor do objeto SEM seleção, altere a cor abaixo: 
    background-color: rgb(244,244,246);*/
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: inline-block;
}
input:checked{
/*Para alterar a cor do objeto COM seleção, altere a cor abaixo: */
    background-color: #4dc8f4;
    width: 100%;
    height: 100%;
}

#textinput{
    font-family: 'Montserrat', sans-serif;
}

#botaoAvance{
    visibility: hidden;
}

.telaDeLigarPontos{
    position: relative;
    margin: 0;
    padding: 20px;
    overflow: hidden;
}
.ligarPontos_opcoes{
    background: black;
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

/* Posição das bolinhas */

    #LP_opcao01{
        position: fixed;
        top: 20px;
        left: 20px;
    }

    #LP_opcao02{
        position: fixed;
        top: 110px;
        left: 20px;
    }

    #LP_opcao03{
        position: fixed;
        top: 200px;
        left: 20px;
    }

    #LP_opcaoA{
        position: fixed;
        top: 20px;
        left: 450px;
    }

    #LP_opcaoB{
        position: fixed;
        top: 110px;
        left: 450px;
    }

    #LP_opcaoC{
        position: fixed;
        top: 200px;
        left: 450px;
    }

    .memory-game {
        width: 640px;
        height: 640px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        perspective: 1000px;
      }
      
      .memory-card {
        width: calc(25% - 10px);
        height: calc(33.333% - 10px);
        margin: 5px;
        position: relative;
        transform: scale(1);
        transform-style: preserve-3d;
        transition: transform .5s;
        box-shadow: 1px 1px 1px rgba(0,0,0,.3);
      }
      
      .memory-card:active {
        transform: scale(0.97);
        transition: transform .2s;
      }
      
      .memory-card.flip {
        transform: rotateY(180deg);
      }
      
      .front-face,
      .back-face {
        width: 100%;
        height: 100%;
        padding: 20px;
        position: absolute;
        border-radius: 5px;
        background: #1C7CCC;
        backface-visibility: hidden;
      }
      
      .front-face {
        transform: rotateY(180deg);
      }