.funçao{
    background-color: #E74C3C;
    color: #ECF0F1;
}

.TS_botao{
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 10px;
    background-color: #2980B9;
    color: #ECF0F1;
    border: solid 1px #ECF0F1;
    border-radius: 5px;
    font-size: 25px;
}

#TS_canvas {
    border: 3px solid darkgray;
    width: 100%;
    height: 100%;
}

.telaDeLigarPontos{
    position: relative;
    margin: 0;
    padding: 20px;
    overflow: hidden;
}
.ligarPontos_opcoes{
    background: black;
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

/* Posição das bolinhas */

    #LP_opcao01{
        position: fixed;
        top: 20px;
        left: 20px;
    }

    #LP_opcao02{
        position: fixed;
        top: 110px;
        left: 20px;
    }

    #LP_opcao03{
        position: fixed;
        top: 200px;
        left: 20px;
    }

    #LP_opcaoA{
        position: fixed;
        top: 20px;
        left: 450px;
    }

    #LP_opcaoB{
        position: fixed;
        top: 110px;
        left: 450px;
    }

    #LP_opcaoC{
        position: fixed;
        top: 200px;
        left: 450px;
    }